@import "tailwindcss";

@theme{
    --color-ash: hsla(107, 7%, 74%, 1);
    --color-chili-red: hsla(4, 92%, 46%, 1);
    --color-tufts-blue: hsla(210, 77%, 57%, 1);
    --color-zaffre: hsla(232, 85%, 34%, 1);
}